{
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:@typescript-eslint/recommended-requiring-type-checking"
    ],
    "plugins": [
        "@typescript-eslint",
        "@stylistic/ts"
    ],
    "env": {
      "browser": true,
      "es6": true,
      "node": true
    },
    "rules": {
        "@stylistic/ts/semi": ["error", "never"],
        "@stylistic/ts/explicit-function-return-type": "off",
        "@stylistic/ts/explicit-module-boundary-types": "off",
        "@stylistic/ts/restrict-template-expressions": "off",
        "@stylistic/ts/restrict-plus-operands": "off",
        "@stylistic/ts/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unused-vars": [
            "error",
            { "argsIgnorePattern": "^_" }
        ],
        "no-case-declarations": "off"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json"
    },
    "ignorePatterns": ["build/**"]
  }